/*
Override du style de galerie vignettes BaguetteBox
*/
//@include breakpoint ($mobile){}
//@include breakpoint ($desktop){}
//@include breakpoint ($tablet){}
//@include breakpoint(($desktop,$tablet)){}
//définir ici les types de contenus qui appliqueront ce style & layout - code via boucle sass
// Vignettes carrées à la suite
$typedecontenu: type-contenu-vdl,type-contenu-actualites, type-page-espace, type-contenu-sortie-action, type-contenu-projet, type-contenu-mini-stage, type-contenu-innovation, type-contenu-intervenants, type-contenu-entreprise;
$zones: zone-illustration;
@each $type in $typedecontenu {
  .#{$type} {
    aside.galerie .galerieBaguetteBox {
      @include breakpoint(($desktop,$desktopwide)) {
        column-count: 3;
        column-fill: balance;
        white-space: normal;
      }
      @include breakpoint(($mobilelandscape,$tablet,$tabletlandscape)) {
        column-count: 2;
        column-fill: balance;
        white-space: normal;
      }

      span.item-galerie {
        //Classe ajoutée dans la vue via le champ de réécriture Texte Global > PARAMÈTRES D'AFFICHAGE
        // > Personnaliser le code HTML de l'enveloppe du champ et de l'étiquette  > Créer une classe CSS
        /*Technique des colonnes plus efficace et passe sous Edge*/
        /*width: span(1 of 3);*/
        /*margin: span(0.0001);*/
        /*float: left;*/
        @include breakpoint(($desktop,$desktopwide,$mobilelandscape,$tablet,$tabletlandscape)) {
          @include txt-colonnes;
        }
      }

      img {
        @include cadre-ombre(0.3em,white,$gris-anthracite);
      }
    }
  }
}
//définir ici les types de contenus qui appliqueront ce style & layout
//Galerie Asymétrique
//Pas de vue fonctionnelle ,voir solution galerie JS existe ? Slick à tester
